footer {
  // Change the background color of the footer
  background-color: #14557f;
  // Apply extra padding to the footer
  padding: 30px;
  // Change the color of the text to white
  color: #fff;
  font-weight: bolder;
}
